.wrapper {
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.list {
  width: 100%;
}

.scrollerWrapper {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
